@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@media screen and (max-width: 460px) {
    .coontainer {
     flex-direction: column;
    }

     .barra {
         width: 90%;
         height: 30%;
     }
     
     .logo {
         width: 100px;
         height: 100px;
     }
     
     .iUno, .iDos, .iTres {
         width: 150px;
         height: 100px;
         margin-left: 100px;
     }
     
     .ftr {
         font-size: 12px;
     }
     
     .mb {
         padding: 10px;
     }
     
     .coc {
         width: 30%;
     }
     
   }
   @media screen and (max-width: 600px) {
     ul {
       flex-direction: column;
       align-items: center;
     }
     
     li {
       margin: 5px 0;
     }
     
     a {
       padding: 5px 10px;
     }
   }
*{
    background-color: rgb(250, 255, 181);
    font-family: 'Poppins';
    text-align: center;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }


.titulo{
    color:black;
    text-align:center;
    font-size: 4em;
}
.barra{
    background-color: #0CB95B99;
    width: 80%;
    height: 40%;
    color: white;
    
    }
    .logo {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 2px solid #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        background-image: linear-gradient(to bottom right, #ff8080, #ff2d2d);
        position: relative;
        top: 10px;
      }
      .enlace-container {
     display : inline;
      }
      
      .enlace-container a {
        color: blue;
      
    }

    ul, li, a{
       
        width:100%;
        align-items: center;
        background-color: #0CB95B99;
        color: white;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-decoration: none;
        height: 3em;
    
    }

    .ftr{
        background-color: #0CB95B99;
        color: white;
        font-size: 14px;
        display: block;
        text-align: center;
        box-shadow: 2px -2px 5px #FBB605AB;
        ;
    }

    .map-link{
        color: blue;
        text-decoration: underline;
        border-radius: none;
        background-color: transparent;
        margin: 10px
       
    }
    .location {
        display: inline-block;
        margin-left: 5px;
      }
      
    
      
      
      
      
      