@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    background-color:  rgb(250, 255, 181);
    font-family: 'Poppins';
    text-align: center;
}
.titulo{
    color:black;
    text-align:center;
    font-size: 4em;
}
.barra{
    background-color: #0CB95B99;
    width: 80%;
    height: 40%;
    color: white;
    }
.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom right, #ff8080, #ff2d2d);
    position: relative;
    top: 10px;    
}
ul, li, a{
    width: 100%;
    align-items: center;
    background-color: #0CB95B99;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    height: 3em;
}
.iUno, .iDos, .iTres {
    width: 200px;
    height: 150px;
    display: inline;
    margin-left: 160px;
    border-color: lightgreen;
    border-width: 5px;
    border-style: solid;

}
.iUno:hover , .iDos:hover, .iTres:hover{
    width: 300px;
    height: 200px;
    border-color: blueviolet;
    border-width: 5px;
    border-style: solid;
}
.ftr{
    background-color: #0CB95B99;
    color: white;
    width: 100%;
    height: 3%;
    font-size: 14px;
    display: block;
    text-align: center;
    box-shadow: 2px -2px 5px #FBB605AB;
    position: absolute;
    bottom: 0;
}

.mb {
    padding: 20px;
}

.concejo{
    display: block;
    text-align: center;
}

.volver{
    padding: 20px;
}
.red{
 padding: 100px;
}

.coc{
 width: 15%;   
}

.prox{
 display: inline;
 }
