@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@media screen and (max-width: 480px) {
   .coontainer {
    flex-direction: column;
   }

    .barra {
        width: 90%;
        height: 30%;
    }
    
    .logo {
        width: 100px;
        height: 100px;
    }
    
    .iUno, .iDos, .iTres {
        width: 150px;
        height: 100px;
        margin-left: 100px;
    }
    
    .ftr {
        font-size: 12px;
    }
    
    .mb {
        padding: 10px;
    }
    
    .coc {
        width: 30%;
    }
    h1 {
        font-size: 24px; 
        text-align: center; 
      }
    
  }
  @media screen and (max-width: 600px) {
    ul {
      flex-direction: column;
      align-items: center;
    }
    
    li {
      margin: 5px 0;
    }
    
    a {
      padding: 5px 10px;
    }
  }

*{
    background-color:  rgb(250, 255, 181);
    font-family: 'Poppins';
    text-align: center;
}

.titulo{
    color:black;
    text-align:center;
    font-size: 4em;
    flex: 1;
    margin: 10px;
}
.barra{
    background-color: #0CB95B99;
    width: 90%;
    height: 30%;
    color: white;
    margin-right: 100px;
    margin-left: 100px;
    }
.logo{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    background-image: linear-gradient(to bottom right, #ff8080, #ff2d2d);
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
}
ul, li, a{

    width: 100%;
    align-items: center;
    background-color: #0CB95B99;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    height: 3em;
  
}

.container {
    display: flex;
   flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
.iUno, .iDos, .iTres {
    width: 200px;
    height: 150px;
    margin: 10px;
    display:inline;
    margin-right: 100px;
    margin-left: 100px;
    border-color: lightgreen;
    border-width: 5px;
    border-style: solid;
    
}
.iUno:hover , .iDos:hover, .iTres:hover{
    width: 300px;
    height: 200px;
    border-color: blueviolet;
    border-width: 5px;
    border-style: solid;
}
.ftr{
    background-color: #0CB95B99;
    color: white;
   
    font-size: 12px;
    display: block;
    text-align: center;
    box-shadow: 2px -2px 5px #FBB605AB;
    bottom: 0;
}

.mb {
    padding: 10px;
}

.concejo{
    display: block;
    text-align: center;
}

.volver{
    padding: 20px;
}
.red{
 padding: 30px;
 
 
}

.coc{
 width: 30%;   
}

.prox{
 display: inline;
 }

 .login-form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .login-form input[type="text"],
  .login-form input[type="password"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 10px;

    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }

  .red button {
    width: 50%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color:#4caf50;
    color: #fff;
    cursor: pointer;
    
  }

  .btn.style {
    background-color: #4caf50; 
    color: #fff; 
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .btn.style:hover {
    background-color: #45a049; 
  }
 
  